<div class="col-md-5 offset-md-3">
  <h3>Şirket Güncelle</h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>ŞİRKET ADI</label>
      <input type="text" class="form-control" id="sirket_ad" [(ngModel)]="sirket.sirket_ad" name="sirket_ad">
    </div>

    <div class="form-group">
      <label>FİYAT</label>
      <input type="text" class="form-control" id="fiyat" [(ngModel)]="sirket.fiyat" name="fiyat">
    </div>

    <button class="btn btn-success" type="submit">GÜNCELLE</button>

  </form>
</div>
