<div class="col-md-5 offset-md-2" >

<h2>Müşteri Detayları</h2>
<br>

  <div>

    <label> <b>MÜŞTERİ ID:</b></label>  <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>{{musteri.musteriId}}

  </div>
  <br>
<div>

  <label> <b>MÜŞTERİ AD:</b></label>  <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>{{musteri.musteri_ad}}

</div>
<br>
<div>

  <label> <b>MÜŞTERİ KİMLİK:</b></label>  <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>{{musteri.musteri_kimlik}}

</div>
<br>
<div>

  <label> <b>MÜŞTERİ PLAKA:</b></label>  <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>{{musteri.musteri_plaka}}

</div>
<br>
<div>

  <label> <b>MÜŞTERİ SİGORTASI VE ZAMANI:</b></label>  <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>{{musteri.sigorta_tur}}
</div>
<br>
  <div>

    <label> <b>ŞİRKET VE ZAMANI:</b></label>  <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>{{musteri.sirket_ad}}
  </div>


</div>
